<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="en" />
  </head>
  <body>
    <header>
      <h1>Cryptocurrency Monitor</h1>
    </header>
    <div class="container">
      <p>Question: Are we going to use bootstrap??</p>
    </div>
  </body>
</html>