@import url('https://fonts.googleapis.com/css?family=Raleway|Lato');

body {
  span,
  p {
    font-family: 'Lato', sans-serif;
  }
}

header {
  background-color: rgba(150, 150, 150, 0.2);
  padding: 20px;
  border-radius: 2px;
}

#top-right-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 160px 0 0;
  border-color: rgba(150, 150, 150, 0.2) transparent transparent transparent;
  -webkit-transform: rotate(360deg);
  position: absolute;
  right: 10.5px;
}

#top-left-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 160px 160px 0;
  border-color: transparent rgba(150, 150, 150, 0.2) transparent transparent;
  -webkit-transform: rotate(360deg);
  position: absolute;
  left: 10.5px;
}

#twitter {
  text-align: center;
}

#bitcoin-header-container {
  max-width: 500px;
  width: 20%;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

#realtime-price-container {
  margin-top: 10px;
  margin-bottom: 15px;
  #label {
    font-size: 18px;
    font-style: underline;
  }
  #bitcoin-price {
    display: block;
    font-size: 28px;
    cursor: help;
  }
}

#prediction-type-container {
  width: 100%;
  .prediction-inner {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 2%;
    height: 150px;
    text-align: center;
    border-radius: 6px;
    background-color: white;
    #title-container {
      margin: 10px;
      font-size: 24px;
      #title {
        font-size: 26px;
        font-style: oblique;
        margin: 0
      }
    }
    #prediction-container {
      margin: 10px;
      font-size: 36px;
    }
  }
}

#prediction-graphs-container {
  .button-container {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    border-radius: 10px;
    button {
      padding: 15px;
      color: white;
      background-color: orange;
      border: 1px solid gray;
      border-radius: 10px;
      cursor: pointer;
    }

    .active {
      background-color: darkorange;
      border: 2px solid gray;
    }
  }
}

.green-color {
  color: forestgreen;
}

.red-color {
  color: red;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#main-container {
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  min-width: 600px;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 10px;
  background-color: rgba(150, 150, 150, 0.2)
}

#graphs-container {
  h3 {
    text-align: center;
    font-size: 24px;
  }
}

#main-container>div {
  margin: 10px;
}

#main-container .highcharts-container {
  border-radius: 2px;
}

#main-container .chart {
  height: 250px;
  max-width: 1000px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

#main-container #prices-chart-div {
  width: 75%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#crypto-sense-logo-container img {
  border-radius: 5px;
  width: 70%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: inherit;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

#expl {
  font-size: 26px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  min-width: 300px;
  width: 75%;
  border-radius: 15px;
  text-align: center;
}

#links-container {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

#links-container ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#links-container ul li {
  display: inline-block;
  padding: 10px;
}

#graph-container {
  margin-left: auto;
  margin-right: auto;
}

//TABLE
#top-influencers-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#top-influencers-table td,
#top-influencers-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#top-influencers-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#top-influencers-table tr:hover {
  background-color: #ddd;
}

#top-influencers-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

footer {
  background-color: lightgray;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  a {
    text-decoration: none;
  }
  ul {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    li {
      list-style: none;
      display: inline;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

//